.container {
  background-color: #707070;
  width: 48vw;
  height: 80vh;
  position: absolute;
  left: 37%;
  color: white;
  text-align: center;
  box-sizing: content-box;
  border-radius: 10px;
}

.recover-text,
.recover-input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}
.recover-input {
  display: block;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background: white;
  margin: auto;
  width: 40%;
  color: rgba(0, 0, 0, 0.45);
}
#sub {
  width: 20%;
  padding: 0.7rem;
  background: var(--secondary);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px #707070;
  -moz-box-shadow: 0px 3px 5px 0px #707070;
  box-shadow: 0px 3px 5px 0px #707070;
  color: white;
}
#sub:hover {
  cursor: pointer;
  background: white;
  color: var(--secondary);
}
.main-1 {
}
.main-2 {
  margin-top: -4rem;
}
.main-2 * {
  margin-bottom: 1rem;
}
@media all and (max-width: 820px) {
  .container {
    min-width: 60vw;
  }
}
@media all and (max-width: 500px) {
  .container {
    min-width: 90vw;
    padding: 2rem 1rem;
  }
}
