.header {
    background-color: rgba(196, 196, 196, 0.08);
    position: relative;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .logo {
    flex: 30%;
    padding-bottom: 1rem;
  }
  .logo img:hover {
    cursor: pointer;
  }

  /* big nav */

  .menu {
    display: flex;
    justify-content: space-evenly;
    flex: 70%;
    align-self: center;
  }
  .menu li {
    border-top: 2px solid white;
    padding: 0.5rem 2rem 0.5rem 0;
  }
  .menu li:hover {
    color: var(--secondary);
  }
  .active {
    color: var(--secondary);
  }
  @media all and (max-width: 820px) {
    .menu {
      display: none;
    }
  }

  /* mobile nav */

  .mobile {
    background: #c4c4c4;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 1rem;
    width: 12rem;
    position: absolute;
    right: 0;
    font-size: 1.1rem;
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
  }

  /* mobile bar */
  .mobileBar {
    display: none;
    align-self: center;
  }
  .mobileBar:hover {
    cursor: pointer;
  }
  @media all and (max-width: 820px) {
    .mobileBar {
      display: block;
    }
  }